In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('googleplaystore.csv')
df.dropna(inplace=True)
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [35]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10834    4.0
10836    4.5
10837    5.0
10839    4.5
10840    4.5
Name: Rating, Length: 9360, dtype: float64

In [36]:
rating_total = sum(df['Rating'])
print(rating_total)
average_rating = df['Rating'].mean()
print('Average :' , rating_total / len(df['Rating']))  
print('Average(Mean function) :' , average_rating)
print('Average (Rounded) :' , round(average_rating, 2))

39235.6
Average : 4.191837606837606
Average(Mean function) : 4.191837606837606
Average (Rounded) : 4.19

In [37]:
filter_rows = df[df['Rating'] >= 4.5] # boolean indexing 
print("Count of Rows with Rating greater than 4.5 :", len(filter_rows))

Count of Rows with Rating greater than 4.5 : 2954

In [38]:
filter_rows = df[(df['Rating'] >= 4.0) & (df['Rating'] <=4.5)] # or df = df[df['Rating'].between(4.5, 5.0)]
print('Count of Rows with Rating between 4.0 and 4.5 :', len(filter_rows))

Count of Rows with Rating between 4.0 and 4.5 : 5446

In [39]:
df['Reviews']

0           159
1           967
2         87510
3        215644
4           967
          ...
10834         7
10836        38
10837         4
10839       114
10840    398307
Name: Reviews, Length: 9360, dtype: object

In [40]:
df['Reviews'].describe()

count     9360
unique    5990
top          2
freq        83
Name: Reviews, dtype: object

In [41]:
s = 0 
for i in df['Reviews']:
  s += int(i)
s

4814565961

In [45]:
review_count = '0' 

for i in df['Reviews']:
  if int(review_count) < int(i) :
    review_count = i 
app_name = df[df['Reviews'] == review_count]
print(f"Apps with maximum number of Reviews({review_count}) :")
app_name

Apps with maximum number of Reviews(78158306) :

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device